include emojis.pug

doctype html
html.dark(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(href='datatables.min.css' rel='stylesheet')
    link(rel='stylesheet' href='./options.css')
  body
    #main
      table.compact.stripe#reactions-table
        thead
          tr
            th URL
            th Title
            th Date
            each emoji in emojis
              th: div= emoji
        tbody#reactions-table-body

    script(src='jquery-3.7.1.slim.min.js')
    script(src='datatables.min.js')
    script(src='options.js' type='module')
