body
  box-sizing border-box
  background-color #181818
  color white

th
  font-size 1.5rem

td:nth-child(-n+2)
  font-size 1rem
  max-width 34rem
  width 34rem
  overflow hidden

td:nth-child(3)
  font-size 0.8rem
  white-space nowrap

td:nth-child(n+4)
  font-size 1.5rem
  width 1.8rem

tr
  cursor pointer
